language: python
python:
  - "3.3"
  - "3.4"
  - "3.5"
before_install:
  - sudo apt-get install mecab libmecab-dev mecab-ipadic
  - sudo aptitude install mecab-ipadic-utf8
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script: nosetests